.footer-container {
    background-color: #F8F6E8;
    color: #403D2A;
    /* padding: 50px; */
    width: 100%;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 20px;
}

.footer-col {
    flex: 1;
    min-width: 170px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 50px;
}

.footer-col-logo-social {
    flex-basis: 250px;
    flex-grow: 0;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 25px;
}

.footer-logo {
    max-width: 100px;
    height: auto;
    display: block;
}

.social-section {
    margin-top: 0;
}

.follow-us-text {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #403D2A;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-icons a {
    display: inline-block;
    line-height: 0;
}

.social-icons img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col li {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
}

.footer-col li:last-child {
    margin-bottom: 0;
}

.footer-col a {
    color: inherit;
    text-decoration: none;

}



.footer-copyright {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    width: 100%;
}

@media (max-width: 992px) {
    .footer-content {
        justify-content: space-around;
    }

    .footer-col {
        min-width: 200px;
        flex-basis: 45%;
    }

    .footer-col-logo-social {
        flex-basis: 100%;
        align-items: center;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-col {
        min-width: 100%;
        margin-bottom: 35px;
        padding: 0;
        align-items: center;
    }

    .footer-col-logo-social {
        align-items: center;
        flex-basis: auto;
        margin-bottom: 30px;
    }

    .footer-logo-link {
        margin-bottom: 15px;
    }

    .social-section {
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-copyright {
        margin-top: 10px;
        padding-top: 15px;
    }
}