.section1{
    margin-left: 230px;
}
.gallery-title{
    text-align: center;
    margin-top: 20px;
    gap: 10px;
}
.g1{
    width: 50%;
    height: 450px;
}
.g2{
    height: 440px;
    width: 28%;
    margin-left: 15px;
}
.g3,.g4,.g5{
    height: 450px;
    width: 26%;
}
.section2 {
    margin-left: 220px;
    margin-top: 20px;
    display: flex;
    gap: 15px; 
}

.g6{
    height: 400px;
    width: 72%;
    margin-left: 170px;
    margin-top: 10px;
}